name: Build

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '21'
          java-package: jdk+fx
      - run: |
          mvn package -DskipTests
      - uses: actions/upload-artifact@v6.0.0
        with:
          path: minecraft-world-downloader-for-1.21.6/minecraft-world-downloader-for-1.21.6/target/
          
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '21'
          java-package: jdk+fx
      - run: |
           mvn test
           


